.SearchedSection{
    background-color: rgb(255, 255, 255);
    min-width: 100vw;
    min-height: 100vh;
}



.items{
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.items li{
    list-style: none;
}
.pagination{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search-form {
    position: relative;
    width: 400px;
    margin: 2rem auto;
  }
  .search-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
  }
  .search-button {
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #d1095e;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
  }